*{
  background-color: white;
}
.nav-list{
  align-content: top;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.container{
  display: grid;
  grid-template: 150px 1fr 150px / 200px 1fr 400px;
  grid-gap: 0.5em ;
}
.blue{
  padding: 1rem;
  grid-column: 1 / 4;
  background-color: white;
}

.matt-damon{
  grid-column: 1 / 3;
  height: 745px;
  position: fixed;
}
.green{
  grid-column: 3 / 4;
  height: 745px;
}
.orange{
  grid-column: 1 / 4;
  background-color: rgb(245, 172, 35);
}
.greenchild{
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: 180px 180px 180px 180px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  border-radius: 20%;
}
.one{
  background-color: rgb(255, 226, 96);
  display: grid;
}
.two{
  background-color: lightblue;
}
.three{
  background-color: rgb(138, 102, 61);
}
.four{
  background-color: rgb(121, 237, 252);
}
.five{
  background-color: rgb(255, 226, 96);
}
.six{
  background-color: lightblue;
}
.seven{
  background-color: rgb(138, 102, 61);
}
.eight{
  background-color: rgb(121, 237, 252);
}